fastapi
uvicorn[standard]
motor
pymongo
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
pydantic-settings
python-dotenv
google.generativeai
PyPDF2
python-docx
pinecone
pinecone-client
sentence-transformers
gTTS
langdetect
langchain
langchain-core
langchain-community
pypdf
pymupdf
pytesseract
pillow
pdf2image
html2pdf.js 